<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>cipher</title>
    <link rel="stylesheet" href="css/cipher.css">
    <style>
    </style>
  </head>
  <body>
    <div class="" id="app">
      <h1>Ciphers</h1>
      <p v-if="mode !== 'list'"><button v-on:click="go('list', {'cipher_id': null})">Back to the list</button></p>
      <player v-if="mode === 'play'" :cipher_id="cipher_id">
      </player>
      <editor v-if="mode === 'edit'" :cipher_id="cipher_id">
      </editor>
      <template v-else-if="mode === 'list'">
        <cipher-list v-on:a_link_event="go">
        </cipher-list>
        <h2>Create a cipher</h2>
        <p>Create your own cipher <button v-on:click="go('edit')">Create</button></p>
        <join-shared></join-shared>
      </template>
    </div>
  <script src="https://js.pusher.com/5.1/pusher.min.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/sentence.js"></script> <!-- load Sentence and Character -->
  <script src="js/components.js"></script>
  <script src="js/app.js"></script>
  <script>
  </script>
  </body>
</html>
